# Solid Queue Configuration
# https://github.com/rails/solid_queue

default: &default
  processes:
    - host: localhost
      queues: [ default, mailers, notifications, reminders, blocking ]
      concurrency: 5
      polling_interval: 0.1

development:
  <<: *default
  processes:
    - host: localhost
      queues: [ default, mailers, notifications, reminders, blocking ]
      concurrency: 5
      polling_interval: 1

test:
  <<: *default
  mode: inline

production:
  <<: *default
  processes:
    - host: localhost
      queues: [ default, mailers ]
      concurrency: 5
      polling_interval: 0.1
    - host: localhost
      queues: [ notifications, reminders ]
      concurrency: 10
      polling_interval: 0.1
    - host: localhost
      queues: [ blocking ]
      concurrency: 3
      polling_interval: 0.1
